# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/build/
app/bin/

# Ignore local JavaScript dependencies
node_modules/

# Ignore compiled Java classes
*.class

# Ignore Kotlin plugin data
.kotlin
